<mat-toolbar color="primary">

<mat-toolbar-row class="toolbar">
  <div class="logo">

  <span>Pet Shop</span>
  <span class="spacer"></span>
  <mat-icon>pets</mat-icon>
</div>
<div class="nav-group">
  <a mat-button routerLink="/pets"> <mat-icon>favorite</mat-icon></a>

  <a mat-button routerLink="/pets"> <span>Pets</span></a>
  <a mat-button routerLink="/supplies"> <span>Supplies</span></a>

</div>
<div class="nav-group last">
  <a mat-button routerLink="/cart"> <span>Cart</span>
  <mat-icon>local_mall</mat-icon></a>
</div>
</mat-toolbar-row>
</mat-toolbar>
